@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


a {
    color: var(--primaryColor);
}
li button{
    width: 300px;
}
#txt {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
}
#txt .title {
    font-family: 'Quicksand', sans-serif;
    margin: 15px 0 15px 0;
}
#txt .price {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    font-size: 14px;
    font-weight: 100;
}
#cartfloat {
    position: sticky;
    right: 5%;
    padding: 20px;
    background-color: black;
    z-index: 1;
}
#cartFix {
    padding: 20px;
    background-color: black;
}
#cartOn,#container {
    display:flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    overflow: scroll;
    padding: 10px;
    
}
#counter {
    list-style-type: none;
}
#cartOn li,#container li{
    margin: 15px;
    position: relative;
    
}
#cartOn img,#container img {
    max-width: 300px;
    width: 100%;
    transition: 0.8s ease-in-out;
}
#cartOn img:hover,#container img:hover {
    filter: grayscale(80%);
}

#cartOn h3,#container h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
}
#cartOn h4,#container h4 {
    color: var(--primaryColor);
}
#counter button{
    top: 70%;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    cursor: pointer;
    width: 100%;
}
#cartOn button,#container button,#counter button {
    top: 70%;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    cursor: pointer;
}
#cartOn button:hover,#container button:hover{
    color: white;
}
#hideCart {
    display: none;
}
#cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    overflow: scroll;
    background: var(--mainWhite);
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: var(--mainTransition);
}
#cart-item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
    list-style-type: none;
    border: 1px solid var(--primaryColor);
    /* padding: 20px; */
    background-color: #F7F7F7;
}
#cart-item span  a {
    margin-left: 40px;
    width: 1px;
}
#cart-item span   {
    width:1px;
}
#counter button{
    margin: 8px;
    color: white;
    padding: 1px 10px;
    text-align: center;
    margin: 8px 0;
    width: 35px;
}
#counter li strong {
    border: 3px solid #bbc3c6;
    padding: 5px 10px;
    color: #8a8a8a;
    text-align: center;
}
#cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}
#cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
}
#cart img {
    width: 3em;
    margin-right: 5px;
    height: 3em;
}
#inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    width: 200px;
}