a {
    color: var(--primaryColor);
}
#cartfloat {
    position: absolute;
    right: 5%;
    padding: 20px;
    background-color: black;
    z-index: 1;
}
#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#cartOn li, #container li{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    list-style-type: none;
}
#cartOn img,#container img {
    width: 300px;
}
#cartOn h3,#container h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
}
#cartOn h4,#container h4 {
    color: var(--primaryColor);
}
#cartOn button,#container button {
    top: 70%;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    cursor: pointer;
}
#cartOn button:hover,#container button:hover{
    color: white;
}
#hideCart {
    display: none;
}
#cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    overflow: scroll;
    background: var(--mainWhite);
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: var(--mainTransition);
}
#cart-item {
    display: grid;
    grid-template-columns: 5px 1fr 1fr ;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
    list-style-type: none;
    border: 5px solid var(--primaryColor);
    padding: 20px;
    border-radius: 5px;
}
#counter button{
    margin: 8px;
    color: white;
    padding: 1px 10px;
    text-align: center;
}
#cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}
#cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
}
#cart img {
    width: 125px;
    height: 125px;
}