#foot {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#foot li a {
    margin: 20px;
    color: black;
    transition: all 0.4s ease-in-out;
}
#foot li a:hover{
    color: #4267B2;
}